head
	link(rel="stylesheet", type="text/css", href="/style.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="/loginPage.js")
	
body
	h1 Please log in...
	if warning
		p=warning
	
	form(action="/login", method="POST")
		label(for='username') Name:
		input#username(name='username')
		br
		
		label(for='password') Password:
		input#password(name='password')
		br
		
		button(value="Log in")#login Login
		